*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
   height: 100vh;
   width: 100%;
   border: 1px solid #000;
}
header{
    /* display: grid; */
    margin: 5% auto;
    height: 15%;
    width: 60%;
    border: 1px solid #000;
}
.navbar{
    display:grid;
    grid-template-columns: 1.1fr 10fr;
    grid-template-rows: 5fr;
    background-color: #009270;
    border: 1px solid rgb(252, 252, 252);
    height: 50%;
    width: 100%;
}
#second{
    background-color: #000;
}

.top{
    border: 1px solid #000;
   
}
.top img{
    width: 100%;
    height: 100%;
}

.top ul li{
    margin-left: 0.5rem;
    margin-top: 0.8rem;
    font-size:17px;
    color: #fff;
    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
/* -------------------news----------------------     */
.news_dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
     box-shadow: 0px 8px 16px 0px rgba(8, 8, 8, 0.2);
    z-index: 0.5;
  }
  .news_dropdown a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .news_dropdown a:hover {
    background-color: #ddd;
  }
  
 
  #news:hover .news_dropdown{
   display: block;
  }

  /* --------------Series--------------- */

  .series_dropdown{
      display: none;
      position: absolute;
      background-color:rgb(253, 253, 253);
      min-width: 200px;
      box-shadow: 0 1px 5px 0.1rem rgb(199, 199, 199);
      z-index: 3;
  }
  .series_dropdown a{
       float: none;
       color: #000;
       padding:10px 20px;
       text-decoration: none;
       display:block;
       text-align: left;
  }
  .series_dropdown a:hover{
      background-color:rgb(204, 204, 202);
  }
  #series:hover .series_dropdown{
      display:block;
  }

  /* -------------videos------------- */

  .videos_dropdown{
    display:none;
    position:absolute;
    background-color:rgb(245, 245, 245);
    z-index: 5;
    min-width: 200px;
    box-shadow: 0px 1px 5px 0.1rem rgb(180, 180, 180);
  }
  .videos_dropdown a{
      float: none;
      color: #000;
      text-align: left;
      display: block;
      padding:10px 20px;
      text-decoration: none;
  }
  .videos_dropdown a:hover{
      background-color:rgb(194, 194, 194);
  }
  #videos:hover .videos_dropdown{
      display: block;
  }

  /* -----------------temas-------------------   */


  .teams_dropdown{
      display: none;
      position: absolute;
      min-width: 200px;
      z-index: 2;
      box-shadow: 0px 1px 5px 0.1rem blue;

  }
  #Temas:hover .teams_dropdown{
     display: block;
  }

  /* ----------------------Rankins-------------
   */

   .rankings_dropdown{
       display: none;
       position: absolute;
       z-index: 2;
       background-color: #fff;
       min-width: 100px;
       box-shadow: 0px 1px 5px 0.1rem rgb(255, 255, 255);
   }
   .rankings_dropdown a{
       float:none;
       padding:10px 20px;
       text-decoration:none;
       text-align: left;
       color: #000;
       display: block;

   }
   .rankings_dropdown a:hover{
       background-color:whitesmoke;
   }
   #Rankings:hover .rankings_dropdown{
       display: block;
   }

   /* --------------------------more----------------      */
   .more_dropdown{
       display: none;
       position: absolute;
       min-width: 100px;
       box-shadow: 0px 1px 5px 0.1rem rgb(66, 64, 64);
       z-index: 1;
       background-color: #fff;
   }
   .more_dropdown a{
       display: block;
       float: none;
       text-align: left;
       text-decoration: none;
       padding:10px 20px;
       color: #000;
   }
   .more_dropdown a:hover{
       background-color:rgb(184, 182, 182);
   }
   #more:hover .more_dropdown{
       display: block;
   }


   /* ------------------alldata----------------------   */
   #showdata_once{
       grid-area: o; 
       border: 1px solid black;
    }
    #showdata_twos{
        grid-area: t; 
        border: 1px solid black;
        
    }
    #showdata_threes{
        grid-area: th; 
        border: 1px solid black;
        
    }
    #alldata{
        margin-top:-70px;
        margin-left:20%;
       
        border: 1px solid rgb(23, 240, 77);
        width: 60%;
        display: grid;
        grid-template-columns: repeat(10, 0.5fr);
        grid-auto-rows: minmax(100vh, auto);
         background-color:rgb(221, 221, 221);
        
        grid-gap:1px;
        grid-template-areas:
        "o o t t t t t t th th"
        "o o t t t t t t th th"
        "o o t t t t t t th th";
    }
    
    
    
    #alldata > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        margin-bottom: 5px;
        
    }
  
  
    
    #showdata_twos{
        display: grid;
        grid-column-gap:5px;
        grid-row-gap:0px;
        grid-template-columns: repeat(2,0.5fr);
        grid-template-rows: repeat(10,0.2fr);
        margin:0.5rem;
    }
     #showdata_twos div{
         width: 100%;
         height: 90%;
         border: 1px solid black;
    } 
    #showdata_twos img{
        width: 50%;
        height: 50%;
    }
    #showdata_twos p,h4,span{
        font-size:10px;
    }
   
  
    